<div class="layout">
<h1 class="center-align">Jen's Hens</h1>
<h2 class="center-align">Our Story</h2>

<div class="hero hoverable">
    <img src="https://eep.io/images/yzco4xsimv0y/6aZY89JahywcsYcUkC6seq/88f9ad3c2c5004fd2166b1b5b7ee6567/hero_our-story.jpg?w=780&amp;q=70" srcset="https://eep.io/images/yzco4xsimv0y/6aZY89JahywcsYcUkC6seq/88f9ad3c2c5004fd2166b1b5b7ee6567/hero_our-story.jpg?w=780&amp;q=70 780w, https://eep.io/images/yzco4xsimv0y/6aZY89JahywcsYcUkC6seq/88f9ad3c2c5004fd2166b1b5b7ee6567/hero_our-story.jpg?w=1560&amp;q=70 1560w" sizes="780px" alt="">
</div>

<p>Mailchimp is an all-in-one Marketing Platform for small business. We empower millions of customers around the world to start and grow their businesses with our smart marketing technology, award-winning support, and inspiring content. Founded in 2001 and headquartered in Atlanta with additional offices in Brooklyn, Oakland, and Vancouver, Mailchimp is 100% founder-owned and highly profitable.</p>

<p>Mailchimp is an all-in-one Marketing Platform for small business. We empower millions of customers around the world to start and grow their businesses with our smart marketing technology, award-winning support, and inspiring content. Founded in 2001 and headquartered in Atlanta with additional offices in Brooklyn, Oakland, and Vancouver, Mailchimp is 100% founder-owned and highly profitable.</p>

<h2>Founder story</h2>
<p>
About 20 years ago, Ben Chestnut and Dan Kurzius started a web design agency called the Rocket Science Group. Their focus was on big, corporate clients, but on the side, they created a delightful email marketing service for small businesses.</p>

<p>
Mailchimp was designed as an alternative to the oversized, expensive email software of the early 2000s. It gave small business owners who lacked the high-end tools and resources of their larger competitors access to technology that empowered them and helped them grow.</p>

<p>
Ben and Dan loved serving these users, because understanding small businesses is in their DNA: Ben grew up helping his mom around her hair salon that she ran from their family kitchen, and Dan’s parents ran a bakery. With Mailchimp, they found that working for small businesses gave them the freedom to be more creative and adapt quickly to their needs. So, in 2007, Ben and Dan decided to shutter the web design agency and focus exclusively on Mailchimp.</p>


<p>While the new company started as an email marketing tool, our customers repeatedly asked us to spread the Mailchimp magic to other channels. They taught us that Mailchimp’s brand promise is to help small businesses “look pro and grow,” no matter the channel.
</p>

<p>Over the past couple of years, we launched a slew of new channels and functionalities: social posting digital ads, a Marketing CRM, shoppable landing pages, postcards, websites, smart content tools, advanced automations, and more. We’re no longer just an email marketing tool—we’re an all-in-one Marketing Platform. As our product and team continues to grow, one thing stays the same: Ben and Dan’s mission to empower the underdog.</p>

<h2>Culture</h2>
<p>Mailchimp strives to create a culture that empowers a humble, creative, and independent workforce. We are passionate about our small business customers and believe that collaboration and creativity are powerful tools to help them make their dreams a reality.

We love how each new hire adds to our culture. And, we’re hiring.

We believe that what makes us different makes us stronger. Building a more diverse, inclusive, and equitable organization is good for our teams, our customers, and our community. We empower each other to bring unique perspectives and experiences to work, and we continually seek new ways to do so.</p>
</div>