<div class="container">
  <div class="row">
    <div class="col s12 l6">
      <h5 class="fredoka">Shopping Cart</h5>
      <a target="_blank" href="../public/images/stock/eggs-1374141_1920.jpg">
        <img src="./images/stock/eggs-1374141_1920.jpg" class="thumb" alt="Eggs">
        <table>
          <thead>
            <tr>
              <th>Qty</th>
              <th>Item Name</th>
              <th>Item Price</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td id="orderQty"></td>
              <td>Eggs</td>
              <td id="unitPrice">$0.50</td>
            </tr>
            <tr>
              <th>Subtotal</th>
              <th></th>
              <th id="subTotal"></th>
            </tr>
          </tbody>
        </table>
      </a>
    </div>
    <div class="col s12 l6">
      <div class="checkout">
      {{> shippingmethod}}
      <div class="checkout">
      <h5 class="fredoka">Checkout (required to continue)</h5>
              
      <form action="#">

        <p>
          <label>
            <input id="checkboxTerms" type="checkbox" />
            <span class="black-text">I agree with Terms & Conditions (required)</span>
          </label>
        </p>
        <p>View the terms <a href="/terms">here</a></p>
      </form>
      </div>
  
        
        

    </div>
  </div>

  <div class="row">
    <div class="col s12 center-align hidden-button hide">
      <div id="paypal-button-container"></div>
    </div>
  </div>
  </div>


</div>
<script
  src="https://www.paypal.com/sdk/js?client-id=AeiJar5WoEZt8uMEkOR8JX-q7NoZA8fGNh1ay8zE1OMAGCpr8IW0Cd11OBBSaH3MMaGdDrOKD2J41VlL"></script>
<div id="paypal-button-container"></div>

<script src="./js/checkout.js"></script>