<div class="container">
  <div class="row">
    <div class="col s6">
      <h5>Shopping Cart</h5>
      <a target="_blank" href="../public/images/stock/eggs-1374141_1920.jpg">
        <img src="./images/stock/eggs-1374141_1920.jpg" class="thumb" alt="Eggs">
        <table>
          <thead>
            <tr>
              <th>Qty</th>
              <th>Item Name</th>
              <th>Item Price</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td id="orderQty"></td>
              <td>Eggs</td>
              <td id="unitPrice">$0.50</td>
            </tr>
            {{!-- <tr>
              <td>1</td>
              <td>Betsy Sponsorship</td>
              <td>$25.00</td>
            </tr> --}}
            <tr>
              <th>Subtotal</th>
              <th></th>
              <th id="subTotal"></th>
            </tr>
          </tbody>
        </table>
      </a>
    </div>
    <div class="col s6">
      <div class="checkout">
      {{> shippingmethod}}
      <div class="checkout">
      <h5>Checkout</h5>
              
      <form action="#">

        <p>
          <label>
            <input id="checkboxTerms" type="checkbox" />
            <span class="black-text">I agree with Terms & Conditions (required)</span>
          </label>
        </p>
        <p>View the terms <a href="/terms">here</a></p>
      </form>
      </div>
      <div class="hidden-button hide">
        <div id="paypal-button-container"></div>
      </div>
    </div>
  </div>
  </div>

<h3 id="nextSteps" class="center-align">Next Steps</h3>
{{!-- {{> shippingmethod}} --}}

<div class="col s3 center-align">
  <a id="checkout" class="waves-effect waves-light btn btn-block disabled">Checkout</a>
</div>

</div>
<script
  src="https://www.paypal.com/sdk/js?client-id=AcPPX8hMk7vVrosiMpNF7Iwf7hekF3mc7HuVPW53ktcJkYhemk_8z7xP-y3jJR6GGvzW9IxCTmgAzx-u"></script>
<div id="paypal-button-container"></div>

<script src="./js/checkout.js"></script>