<!-- body -->


{{!-- main carousel --}}
<div id="main-carousel" class="main-carousel" style="margin-top: 2rem;  margin-right: 4rem;
  margin-left: 4rem;">
  <div class="carousel carousel-slider center m-5">
    <div class="carousel-fixed-item center">
      <a id="buyNowBtn" class="waves-effect waves-light btn" style="filter: drop-shadow(0 0 0.75rem white);"><i
          class="material-icons left">add_shopping_cart</i>Buy Now!</a>
    </div>
    <a class="carousel-item" href="#one!">
      <img class="responsive-img" src="/images/stock/chicken-1851495_1920.jpg">
    </a>
    <a class="carousel-item" href="#two!">
      <img class="responsive-img" src="/images/stock/chicken-1867521_1920.jpg">
    </a>
    <a class="carousel-item" href="#three!">
      <img class="responsive-img" src="images/stock/chicken-3587380_1920.jpg">
    </a>
    <a class="carousel-item " href="#four!">
      <img class="responsive-img" src="/images/stock/breakfast-3106870_1920.jpg">
    </a>
  </div>
</div>

{{!-- main home page content --}}
<div class="center-align">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4 class="fredoka">From our coop to your table!</h4>
        <h6 class="fredoka">Fresh, local eggs in the St. Louis area</h6>
        <p>Hi, I’m Jenn! Welcome to the Everett Family Farm and meet Jenn’s Hens. Our chickens are Rhode Island Reds and Black Australorps. They lay large brown eggs daily! We have fresh eggs daily and love to share their yummy goodness with our friends.  
          I grew up on a beef farm in Middleton, Nova Scotia, Canada. I love being outdoors, spending time with my husband and children. We love to travel and eat good food! Growing up on the farm, I learned the value of hard work and the importance of 
          ethically sourced food. I care about the food we eat and the food the animals eat who provide us food like beef and eggs. </p>
        <p> When I found out that I could have chickens on my suburban property, I knew I had to make it happen.  </p>
        <p> My small flock of chickens and my gardens bring me happiness so far away from my Canadian home. Growing a garden and raising chickens allows my family and me to get back to the sustainable lifestyle that I grew up in, even if it is on a much smaller scale.
          Little did I know when I started my backyard farm the joy that giving away our eggs would bring! Thank you for being a supporter of our family farm and the consumer of our amazing eggs!
          I hope to see you soon.</p>
      </div>
    </div>
  </div>
  {{!-- two column sponsor section --}}
  <div class="divider"></div>
  <div class="container">
    {{!-- sponsor a chicken today --}}
    <div class="valign-wrapper row sponsor-container mb2">
      {{!-- creating two columns --}}
      {{!-- left side column -- VIDEO --}}
      <div class="col s12 l6">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/wYKJkHcaMzE" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col s12 l6 mt-2">
        <h5 class="fredoka">Sponsor a Chicken! (Coming soon!)</h5>
        <p>
          How can you help care for these chickens that spend so much time providing for others? Every dollar helps! 
          Our end goal is to be able to provide the best care for these chickens including increasing our supply of dragon tears, 
          becasue of their incredible healing powers and their abilitiy to help the chickens create even better eggs. 
          Since Dragon Tears are capable of reconstructing bodies, it provides powerful benefits to chickens who consume them. 
          While the true power of Dragon Tears is unknown, we do know that it is, in reality, too powerful for any human 
          to consume safely. Imagine if someone were to weaponize dragon tears, creating an army of chickens for the purpose of combat!
        </p>
      </div>
    </div>
  </div>

</div>

{{!-- three icons to inform new customers --}}
<div class="" style="background-color: white;">
  <div class="row container">
    <div class="col s12 l4 mt">
      <div class="center promo promo-example">
        <i class="material-icons">autorenew</i>
        <p class="promo-caption fredoka">Environmentally Responsible</p>
        <p class="light center">We care for our chickens personally and feed them all natural food that chickens would
          normally find in the wild. We never use hormones or cheap food so that our eggs are the highest quality
          possible!</p>
      </div>
    </div>
    <div class="col s12 l4 mt">
      <div class="center promo promo-example">
        <i class="material-icons">favorite</i>
        <p class="promo-caption fredoka">Beautiful Eggs</p>
        <p class="light center">By caring for our chickens and letting them lay eggs in the most natural way possible,
          we keep our eggs beauitful on the outside and the inside, with an attractive brown shell and large yolks.</p>
      </div>
    </div>
    <div class="col s12 l4 mt">
      <div class="center promo promo-example">
        <i class="material-icons">sentiment_very_satisfied</i>
        <p class="promo-caption fredoka">Delicious Taste</p>
        <p class="light center">Because we care for our chickens so well, the flavor is much better than eggs that have
          been mass produced by ill-kept chickens in unnatural habitats and shipped across the country. You'll love the
          taste, we guarantee it!</p>
      </div>
    </div>
  </div>
</div>


	<h4 class="fredoka" style="text-align: center">Jenn's Hens Instagram</h4>

    	<div id="instafeed-container" class="row center-align container" style=""></div>


<script src="https://cdn.jsdelivr.net/gh/stevenschobert/instafeed.js@2.0.0rc1/src/instafeed.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/home.js"></script>
</div>
<!-- end body -->