<div class="container">
<div class="row">
  <div class="row custom-row">
    <div class="col s6 center-align">
      <h5>Log in here!</h5>
    </div>
    <div class="col s6 center-align">
        <h5>Sign Up for an Account</h5>
    </div>
  </div>

  <div class="row">
      <form class="col s6 center-align login-form">
        <div class="row">
          <div class="input-field col s11">
            <i class="material-icons prefix">email</i>
            <input id="login-email" type="email" class="validate">
            <label for="email">Email</label>
          </div>

            <div class="input-field col s11">
              <i class="material-icons prefix">security</i>
              <input id="login-password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
        </div>
        <button id="login-btn" class="btn waves-effect waves-light" type="submit" name="action">Login
            <i class="material-icons right">send</i>
        </button>
    </form>
  


    <form class="col s6 center-align signup-form">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">person_add</i>
          <input id="signup-first-name" type="text" class="validate">
          <label for="signup-first-name">First Name</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">person_add</i>
          <input id="signup-last-name" type="text" class="validate">
          <label for="signup-last-name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="signup-email" type="email" class="validate">
          <label for="signup-email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input id="signup-phone" type="tel" class="validate">
          <label for="icon_telephone">Telephone </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">security</i>
          <input id="signup-password" type="password" class="validate">
          <label for="signup-password">Password</label>
        </div>
      </div>
      <div class="row">
      <label for="signup-request-admin">
        <input id="signup-request-admin" type="checkbox" />
        <span>Request Administrative Priveledges?</span>
      </label>
      </div>

      <button id="signup-btn" class="btn waves-effect waves-light center-align" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button
    </form>

  </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="./js/login.js"></script>