

<div class="container">
    <h4 class="center-align fredoka">Request some eggs!</h4>
    <form class="col s6 egg-qty-col egg-qty-form">
      <div class="row">
        <div class="input-field col offset-s2 s6">
            <select id="qtySelected">
                <option value="" disabled selected>Choose your option</option>
                <option value="6">6 Eggs</option>
                <option value="12">12 Eggs</option>
                <option value="18">18 Eggs</option>
                <option value="24">24 Eggs</option>
            </select>
            <label>How many eggs do you request?</label>
        </div>

        <button id="checkOutBtn" class="btn waves-effect waves-light" type="submit" name="action">Checkout
        <i class="material-icons right">send</i>
      </button>
      </div>
    </form>
</div>
<script src="/js/materialize.js"></script>
<script src="/js/placeorder.js"></script>
 