
<div class="row">
    <div class="col s12">
        <img src="/images/stock/chicken-2742352_1920.jpg" alt="Chickens" class="z-depth-3 chicken-thankyou responsive-img">
        <h4 class="center-align fredoka">We're getting busy laying eggs!</h4>
        <p class="center-align">Thank you for your order, {{first_name}}!</p>
        <p class="center-align">An email confirmation will be sent to your email address on file. 
            Please check your spam folder if you don't receive it within 1-2 hours. </p> 
        <p class="center-align">Add jenns.hens.eggs@gmail.com to your email contacts to make sure you never miss an email!</p> 
    </div>
</div>