:root {
    --primary: #389393;
    --secondary: #f5a25d;
    /* --tertiary: #fa7f72; */
    --tertiary: #fcb5ad;
    /* --tertiary: rgba(250,127,114,.4); */
    --quatrinary: #6c6b67;
    --light: #ebebeb;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
    --nav: #FFFF00;
    --nav-alt: #D40000;
    --black: #000000;
  }

  body {
    font-family: 'Cabin', sans-serif!important;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--tertiary);
  }

  .fredoka {
    font-family: 'Fredoka One', cursive;
  }

  nav {
    height: 11.5rem!important;
  }

  nav ul a {
    font-size: 1.25rem;
    padding-top: 2.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .welcome {
    font-size: 1.75rem;
    margin-top: 2.5rem;
  }

  .full-nav-links {
    margin-right: 2rem;
  }

  #instafeed-container {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(4, 8vw);
    grid-gap: 15px;
  }

  p {
    font-size: 18px;
  }

  .sponsor-container {
    padding-top: 3rem;
    display: block;
  }
  
  .hide {
    display: none;
  }
  
  .main-carousel .carousel-item {
  max-width: 50%;
  height: auto;
  object-fit: cover;
  }

  #instafeed-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

  .nav-color {
    background-color: rgb(124, 62, 33) !important;
  }

  .bg-color {
    background-color: rgb(202, 202, 202);
  }

.mt {
  margin-top: 2rem;
}

.mb {
  margin-bottom: 2rem;
}

.mt2 {
  margin-top: 4rem;
}

.mb2 {
  margin-bottom: 4rem;
}



  footer {
    flex-shrink: 0;
  }

  .page-footer, .page-footer .row  {
    padding: 0px;
    margin: 0px;
  }

  .footer-copyright p {
    padding: 0px;
    margin: 0px;
  }

  /* .video-container {
    margin-top: none;
  } */

  div {
    flex: 1 0 auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  nav {
    background-color: var(--primary);
    height: 10rem;
    align-items: center;
    padding-top: 12px;

  }
  nav a {
    font-weight: 500;
    /* font-family: 'Righteous', cursive; */
  }

  .btn-block {
    width: 70%;
    margin: 2%;
}

  .bold {
    font-weight: 900;
  }

  .thumb {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
  }

  header {
    padding: 40px;
    text-align: center;
    background: var(--primary);
    color: var(--secondary);
    border-bottom-style: solid;
  }

  .checkout {
    padding-left: 2rem!important;
  }

  .chicken-thankyou {
    max-height: 13rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  /* Media Queries for responsiveness */
  @media only screen and (max-width: 1200px) {
    .logo {
      height: 5rem;
      margin-top: 2rem;
      left: 80%!important;
    }
  
    nav ul a {
      font-size: 1rem;
    }
    
    .welcome {
      font-size: 1.25;
    }
  }

@media only screen and (max-width: 992px) {
  .logo {
    height: 5rem;
    margin-top: 2rem;
    left: 80%!important;
  }

  /* nav ul a {
    font-size: .5rem;
  } */
}

@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 576px) {


}

@media only screen and (max-width: 500px) {


}
