:root {
    --primary: #389393;
    --secondary: #f5a25d;
    /* --tertiary: #fa7f72; */
    --tertiary: #fcb5ad;
    /* --tertiary: rgba(250,127,114,.4); */
    --quatrinary: #6c6b67;
    --light: #ebebeb;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
    --nav: #FFFF00;
    --nav-alt: #D40000;
    --black: #000000;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--tertiary);
  }

  nav {
    /* display: block!important; */
    background-color: var(--primary);
    height: 10rem;
    align-items: center;
    padding-top: 12px;

  }
  nav a {
    font-weight: 500;
    /* font-family: 'Righteous', cursive; */
  }

  .btn-block {
    width: 70%;
    margin: 2%;
}

  .bold {
    font-weight: 900;
  }

  .thumb {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
  }

  header {
    padding: 40px;
    text-align: center;
    background: var(--primary);
    color: var(--secondary);
    border-bottom-style: solid;
  }