:root {
    --primary: #389393;
    --secondary: #f5a25d;
    /* --tertiary: #fa7f72; */
    --tertiary: #fcb5ad;
    /* --tertiary: rgba(250,127,114,.4); */
    --quatrinary: #6c6b67;
    --light: #ebebeb;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
    --nav: #FFFF00;
    --nav-alt: #D40000;
    --black: #000000;
  }
  
  #instafeed-container {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(4, 8vw);
    grid-gap: 15px;
  }

  .main-carousel .carousel-item {
  max-width: 50%;
  height: auto;
  object-fit: cover;
  }

  #instafeed-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

  .nav-color {
    background-color: rgb(124, 62, 33) !important;
  }

  .bg-color {
    background-color: rgb(202, 202, 202);
  }

.mt {
  margin-top: 2rem;
}

.mb {
  margin-bottom: 2rem;
}

.mt2 {
  margin-top: 4rem;
}

.mb2 {
  margin-bottom: 4rem;
}

  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--tertiary);
  }

img {
  max-width: 100%;
  height: auto;
}

  nav {
    /* display: block!important; */
    background-color: var(--primary);
    height: 10rem;
    align-items: center;
    padding-top: 12px;

  }
  nav a {
    font-weight: 500;
    /* font-family: 'Righteous', cursive; */
  }

  .btn-block {
    width: 70%;
    margin: 2%;
}

  .bold {
    font-weight: 900;
  }

  .thumb {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
  }

  header {
    padding: 40px;
    text-align: center;
    background: var(--primary);
    color: var(--secondary);
    border-bottom-style: solid;
  }